.question {
    box-shadow: 1px 2px 10px #00000056;
    padding: 1%;
    margin: 1% 0;
}

label.pure-checkbox {
    display: block;
    margin-bottom: .5rem;
}
label.pure-checkbox > input {
    margin: 0 1rem;
}